.earn {
    background-image: linear-gradient(to right, #14A4BC,white);
}

.lost {
    background-image: linear-gradient(to right, white,#F44D4D);
    text-align: end;
}

.balance-item {
    margin-bottom: 10px;
    padding: 0 10px;
}

.balance-item h3 {
    margin: 10px 0;
}

.balance-items-box {
    max-width: 80%;
    margin: 0 auto;
}

.balance-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.balance-body {
    display: flex;
    flex-direction: column;
}