@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Quicksand&display=swap");

body {
  font-family: "Lato", sans-serif;
}
input {
  text-align: center;
}
input:focus {
  outline-width: 0;
}
select:focus {
  outline-width: 0;
}
